<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="aside">
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				<!-- sidebar menu: : style can be found in sidebar.less -->
				<ul class="sidebar-menu">
					<li class="header">MAIN NAVIGATION</li>
					<li class="treeview"><a th:href="@{${pageLinks.siteRoot}}"><i
							class="fa fa-dashboard"></i> <span>Home</span></a></li>

					<li class="treeview"><a href="#"><i class="fa fa-money"></i>
							<span>Accounts</span><span class="pull-right-container"> <i
								class="fa fa-angle-left pull-right"></i></span></a>

						<ul class="treeview-menu">
							<li><a th:href="@{${pageLinks.viewAccounts}}"><i
									class="fa fa-circle-o"></i> <span>View All Accounts</span></a></li>
							<li><a th:href="@{${pageLinks.createAccount}}"><i
									class="fa fa-circle-o"></i> <span>Create A New Account</span></a></li>
						</ul>
					</li>
					<li class="treeview"><a href="#"><i class="fa fa-users"></i>
						<span>Customers</span><span class="pull-right-container"> <i
								class="fa fa-angle-left pull-right"></i></span></a>

						<ul class="treeview-menu">
							<li><a th:href="@{${pageLinks.viewCustomers}}"><i
									class="fa fa-circle-o"></i> <span>View All Customers</span></a></li>
							<li><a th:href="@{${pageLinks.registerCustomer}}"><i
									class="fa fa-circle-o"></i> <span>Register A New Customer</span></a></li>
						</ul>
					</li>

				</ul>
			</section>
			<!-- /.sidebar -->
		</aside>
	</div>
</body>
</html>
